@import './modal.css';
@import './search.css';
@import './arrows.css';
@import './colors.css';
@import './titles.css';
@import './wr-folders.css';
@import './wr-roots.css';
@import './funtionalities.css';


* {
    box-sizing: inherit;
    margin: 0;
}
.main-container {
    display: grid;
    height: 100vh;
    grid-template:
        "aside header"
        "aside root"
    ;
    grid-template-rows: 60px auto;
    grid-template-columns: 200px auto;
    font-family: 'Open Sans', sans-serif;
}
.wrapper-header {
    grid-area: header;
    border-bottom: 0.5px solid rgb(210, 210, 210);
    box-shadow: 0px 0px 1px 0px rgba(50, 50, 50, 0.25);
    box-shadow: 0.;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-root);
}

