

.modal-content {
    width: 70vw;
    height: 80vh;
}

.modal-body {
    height: 50vh;
}

.mediaDisplayer{
    height: 100%;
    width: 100%;
}

.imageDisplayer {
    height: 100%;
    width: 100%;
}

.videoDisplayer {
    height: 100%;
    width: 100%;
}

.btn-info {
    background-color: #ac61aa;
    border-color: #e6dde1;
}
.btn-info:hover {
    background-color: #854483;
    border-color: #e6dde1;
}