h3{
    font-size: 18px;
    font-weight: 400;
    margin: 0;
    width: 15%;
    color: var(--color-text);
}
h4{
    font-size: 14px;
    font-weight: 600;
    color: var(--color-main);
    padding-bottom: 10px;
}
h5{
    font-size: 12px;
    font-weight: 300;
    color: var(--color-text);
}
.text{
    font-size: 12px;
    margin: 0;
    font-weight: 400;
    color: var(--color-text);
}
.folder, .folder:active {
    width: 100%;
    font: 300 12px;
    font-size: 12px;
    font-weight: 300;
    text-align: left;
    appearance: none;
    border: none;
    margin: 0;
    padding: 0;
    background-color: transparent;
    color: var(--color-text);
}
.hover {
    width: 100%;
    background-color: var(--background-hover);
    border-radius: 2px;
}
.hover .text{
    font-size: 12px;
    color: white;
    margin: 0;
    font-weight: 600;
}
.hover-folder {
    width: 100%;
    background-color: var(--background-hover-grey);
    border-radius: 2px;
}