.wrapper-roots {
    grid-area: root;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}
.folders-path {
    width: 31.5%;
    border-right: 0.3px solid rgb(210, 210, 210);
}
.folders-root {
    display: flex;
    height: 25px;
    align-items: center;
    margin-bottom: 2px;
}

.folders-root img {
    width: 16px;
    height: 16px;
    margin: 0 5px;
}
.folders-info {
    padding: 10px;
    width: 32%;
}
.folders-info .cover {
    width: 100%;
    height: 150px;
    border-radius: 2px;
    margin-bottom: 25px;
    border: 0.3px solid rgb(210, 210, 210);
}
.folders-info .info {
    padding-top: 10px;
}

.folders-info .cover {
    width: 100%;
}
.folders-info .info .text {
    padding: 5px 0;
    border-bottom: 0.3px solid rgb(210, 210, 210);
}
.folders-info .info span {
    padding: 5px 0;
    color: black;
    font-weight: 600;
    text-align: right;
}
.folders-info .info .text:last-child {
    padding: 5px 0;
    border-bottom: 0px solid rgb(210, 210, 210);
}