:root {
    --background-root: #FAF3F5;
    --background-folders: #E7E0E2;
    --background-hover-grey: #D0C9C9;
    --background-hover: #7C2E7D;
    --color-main: #999;
    --color-text: #4C4A4A;
    --color-details: #AC61AA;
}